<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>PILL LAW</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="icon" href="../../../resources/image/pilllaw_favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='../../../resources/css/style.css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>

<body class="noto-sans-kr">
  <div class="wrap">
    <header class="container-fluid mb-0" style="position: fixed; background-color: #F8F9FA;">
      <div class="container clearfix">
        <div class="row">
          <div class="col-3 p-0">
            <a href="#" class="float-start m-2"><img class="img-fluid header-icon" src="../../../resources/image/pilllaw_icon_crop.png" alt="아이콘"></a>
            <h2 class="float-start mt-4 ms-3 pt-3 fw-bold"><a class="text-decoration-none header-font " href="#">PILL LAW</a></h2>
          </div>
          <div class="col">
            <div class="float-start py-4 ps-5">
              <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4" href="#">전체 상품</a></h6>
              <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4" href="#">구독하기</a></h6>
              <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4" href="#">필로</a></h6>
              <h6 class="float-start m-4 text-center fw-bold"><a class="text-decoration-none header-font pt-4" href="#">마이페이지</a></h6>
            </div>
            <div class="float-end py-4">
              <i class="fa-solid fa-user fa-lg header-font float-end mx-2 pt-4 text-center"></i>
              <i class="fa-solid fa-cart-shopping fa-lg header-font float-end mx-2 pt-4 text-center"></i>
              <i class="fa-solid fa-bell fa-lg header-font float-end mx-2 pt-4 text-center"></i>
              <i class="fa-solid fa-magnifying-glass fa-lg header-font float-end mx-2 pt-4 text-center"></i>
              <i class="fa-solid fa-comment-dots fa-lg header-font float-end mx-2 pt-4 text-center"></i>
              <p class="float-end mx-2 pt-4 text-center fw-bold fs-12"><a class="header-font pt-3" href="#">회원가입</a></p>
              <p class="float-end pt-4 text-center fw-bold fs-12"><a class="header-font pt-3" href="#">로그인</a></p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    
    <main class="container px-0" style="padding-top: 115.19px;">
      <div class="container mt-5">
        <h2 class="text-center fw-bold mb-4 header-font">장바구니</h2>

        <h4 class="fw-bold mb-4">배송지  <button class="justify-content-end btn btn-pilllaw">내 배송지</button></h4><hr>
    
        <!-- 배송지 입력 폼 -->
         <div style="width: 600px;">
           <form id="orderForm">
             <div class="mb-3">
               <label for="recipientName" class="form-label fw-bold">받는사람</label>
               <input type="text" class="form-control" id="recipientName" required>
             </div>
             <div class="mb-3">
               <label for="address" class="form-labe fw-bold mb-2">주소</label>
               <div class="input-group">
                 <input type="text" class="form-control" id="postcode" readonly placeholder="우편번호">
                 <button type="button" class="btn btn-pilllaw" id="searchAddress">주소 검색</button>
               </div>
               <input type="text" class="form-control mt-2" id="basicAddress" readonly placeholder="기본주소">
               <input type="text" class="form-control mt-2" id="detailAddress" placeholder="상세주소" required>
             </div>
             <div class="mb-3">
               <label for="phone" class="form-label fw-bold">휴대전화</label>
               <input type="text" class="form-control" id="phone" placeholder="010-1234-5678" required>
             </div>
             <div class="mb-3">
               <label for="deliveryMessage" class="form-label fw-bold">배송 메세지</label>
               <select class="form-select" id="deliveryMessage">
                 <option value="경비실">경비실에 맡겨주세요.</option>
                 <option value="집앞">집앞에 두세요.</option>
                 <option value="택배함">택배함에 넣어주세요.</option>
                 <option value="직접수령">직접수령하겠습니다.</option>
                 <option value="배송 전 연락">배송전 연락바랍니다.</option>
               </select>
             </div>
           </form>
         </div>
         <hr size="10"><h4 class="fw-bold mb-4 mt-5">주문상품</h4><hr>
         <table class="table text-center align-middle">
          <thead class="table-light">
            <tr>
              <th></th>
              <th width="50%">상품명</th>
              <th width="10%">수량</th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody id="cartTableBody">
            <!-- 상품이 동적으로 추가될 부분 -->
          </tbody>
        </table>
         
         
         
         
         
         <div class="d-flex justify-content-end">
           <button type="submit" class="btn btn-pilllaw">결제하기</button>
         </div>
      </div>  

    </main>
      
    <footer class="container-fluid">
      <hr class="text-pilllaw">
      <div class="container clearfix mb-4">
        <div class="row">
          <div class="col-3">
            <a href="#"><img src="../../../resources/image/pilllaw_icon.png" class="img-fluid" alt="footer logo" width="200"></a>
          </div>
          <div class="col mt-3">
            <p class="fs-14 header-font fw-bold mb-0">상호명: PILL LAW</p>
            <p class="fs-14 header-font fw-bold mb-0">주소: 서울특별시 구로구 디지털로 306 대륭포스트타워 2차</p>
            <p class="fs-14 header-font fw-bold mb-0">고객센터: 010-5306-3569</p>
            <p class="fs-14 header-font fw-bold mb-0">계좌번호: 국민 040002-04-207375</p>
          </div>
          <div class="col mt-3 text-center">
            <a href="#" class="header-font text-decoration-none fw-bold"><i class="fa-brands fa-github fa-2xl header-font"></i></a>
            <a href="#" class="header-font text-decoration-none fw-bold fs-14"><br>GitHub 방문하기</a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col"></div>
          <div class="col">
            <p class="fs-14 header-font text-center fw-bold mb-2">개인정보 처리방침</p>
          </div>
          <div class="col">
            <p class="fs-14 header-font text-center fw-bold mb-2">이용약관</p>
          </div>
          <div class="col">
            <p class="fs-14 header-font text-center fw-bold mb-2">이용안내</p>
          </div>
          <div class="col"></div>
        </div>
        <p class="fs-14 header-font text-center fw-bold mb-2">All rights resereved PILLLAW &copy; copyright.</p>
      </div>
    </footer>
  </div>
  <script>
  
    // 폼 제출 처리
    document.getElementById("orderForm").addEventListener("submit", function (event) {
      event.preventDefault();

      const formData = {
        recipientName: document.getElementById("recipientName").value,
        postcode: document.getElementById("postcode").value,
        basicAddress: document.getElementById("basicAddress").value,
        detailAddress: document.getElementById("detailAddress").value,
        phone: document.getElementById("phone").value,
        deliveryMessage: document.querySelector('input[name="deliveryMessage"]:checked').value,
        customMessage: document.getElementById("customMessage").value
      };

      console.log(formData);
      alert("주문이 완료되었습니다!");
    });
  </script>
</body>
</html>